# Armado de CSVs

In [1]:
import pandas as pd

In [22]:
df_sleep = pd.read_csv("datos_personales/sleep.csv")
df_coffee = pd.read_csv("datos_personales/coffee.csv")

# Paso las fechas de string a Date
df_sleep['Fecha'] = pd.to_datetime(df_sleep['Fecha'])
df_coffee['Fecha'] = pd.to_datetime(df_coffee['Fecha'])

df_sleep.head()

,Fecha,Hora que me acosté,Horas sueño,Veces que me desperté,Horas sueño ligero,Horas sueño profundo,Déficit
0,2022-03-27,11:56:00 PM,7.92,2,1.23,6.68,-0.42
1,2022-03-28,11:27:00 PM,8.08,3,1.65,6.43,-1.00
2,2022-03-29,12:40:00 AM,6.85,0,3.83,3.02,-0.35
3,2022-03-30,1:25:00 AM,6.10,0,2.92,3.18,1.05
4,2022-03-31,11:15:00 PM,8.27,1,3.77,4.50,0.28

In [23]:
df_coffee

        Fecha         Hora  Cantidad (ml)
0  2022-03-28  10:00:00 AM            300
1  2022-03-28   4:30:00 PM            350
2  2022-03-30   4:00:00 PM            300
3  2022-03-31   9:00:00 AM            350
4  2022-03-31   3:00:00 PM            350
5  2022-04-02  11:00:00 AM            400
6  2022-04-04   5:00:00 PM            300
7  2022-04-05   6:45:00 PM            300
8  2022-04-06   2:45:00 PM            300
9  2022-04-07   9:00:00 AM            300
10 2022-04-08   6:20:00 PM            300
11 2022-04-11  10:00:00 AM            300
12 2022-04-11   5:30:00 PM            350
13 2022-04-13   3:20:00 PM            300
14 2022-04-14   7:30:00 PM            300
15 2022-04-19   5:45:00 PM            300
16 2022-04-20   4:20:00 PM            300
17 2022-04-21   5:40:00 PM            300
18 2022-04-22  10:00:00 AM            300

Para la visualización que estoy haciendo en flourish necesito las horas de sueño y la cantidad neta de café consumido en cada día

In [24]:
agg_coffee = pd.DataFrame(df_coffee.groupby(['Fecha'])['Cantidad (ml)'].sum())
agg_coffee

            Cantidad (ml)
Fecha
2022-03-28            650
2022-03-30            300
2022-03-31            700
2022-04-02            400
2022-04-04            300
2022-04-05            300
2022-04-06            300
2022-04-07            300
2022-04-08            300
2022-04-11            650
2022-04-13            300
2022-04-14            300
2022-04-19            300
2022-04-20            300
2022-04-21            300
2022-04-22            300

Ahora tengo que agregar la columna correspondiente a lo que dormí en esas fechas

In [27]:
df_simple = pd.merge(df_sleep[["Fecha", "Horas sueño"]], agg_coffee, on="Fecha", how="left").fillna(0)
df_simple

        Fecha  Horas sueño  Cantidad (ml)
0  2022-03-27         7.92            0.0
1  2022-03-28         8.08          650.0
2  2022-03-29         6.85            0.0
3  2022-03-30         6.10          300.0
4  2022-03-31         8.27          700.0
5  2022-04-01         5.07            0.0
6  2022-04-02         7.32          400.0
7  2022-04-03         6.42            0.0
8  2022-04-04         6.43          300.0
9  2022-04-05         6.57          300.0
10 2022-04-06         7.63          300.0
11 2022-04-07         7.28          300.0
12 2022-04-08         5.17          300.0
13 2022-04-09         3.55            0.0
14 2022-04-10         6.28            0.0
15 2022-04-11         6.97          650.0
16 2022-04-12         8.83            0.0
17 2022-04-13         8.35          300.0
18 2022-04-14         9.58          300.0
19 2022-04-15         6.92            0.0
20 2022-04-16         6.73            0.0
21 2022-04-17         6.20            0.0
22 2022-04-18         6.92            0.0
23 2022-04-19         6.62          300.0
24 2022-04-20         6.67          300.0
25 2022-04-21         6.42          300.0

Agrego minutos de sueño también que puede ser util para algunas visualizaciones

In [34]:
df_simple["Minutos sueño"] = df_simple["Horas sueño"].map(lambda x: round(x*60))
df_simple

        Fecha  Horas sueño  Cantidad (ml)  Minutos sueño
0  2022-03-27         7.92            0.0            475
1  2022-03-28         8.08          650.0            485
2  2022-03-29         6.85            0.0            411
3  2022-03-30         6.10          300.0            366
4  2022-03-31         8.27          700.0            496
5  2022-04-01         5.07            0.0            304
6  2022-04-02         7.32          400.0            439
7  2022-04-03         6.42            0.0            385
8  2022-04-04         6.43          300.0            386
9  2022-04-05         6.57          300.0            394
10 2022-04-06         7.63          300.0            458
11 2022-04-07         7.28          300.0            437
12 2022-04-08         5.17          300.0            310
13 2022-04-09         3.55            0.0            213
14 2022-04-10         6.28            0.0            377
15 2022-04-11         6.97          650.0            418
16 2022-04-12         8.83            0.0            530
17 2022-04-13         8.35          300.0            501
18 2022-04-14         9.58          300.0            575
19 2022-04-15         6.92            0.0            415
20 2022-04-16         6.73            0.0            404
21 2022-04-17         6.20            0.0            372
22 2022-04-18         6.92            0.0            415
23 2022-04-19         6.62          300.0            397
24 2022-04-20         6.67          300.0            400
25 2022-04-21         6.42          300.0            385

Finalmente, Lo escribo a un csv

In [38]:
df_simple.to_csv("datos_personales/simple.csv", index=False)